# GitHub Personal Access Token (needs 'repo' scope)
# Get it from: https://github.com/settings/tokens
export GITHUB_TOKEN=
# ClickUp API Token
# Get it from: https://app.clickup.com/settings/apps
export CLICKUP_TOKEN=
export SENTRY_TOKEN=
export SENTRY_PROJECTS=sentry/gdec-oms:gdec-prod:gdec-dev,sentry/gdec-sync:gdec-prod:gdec-dev